header {
  border-bottom: 1px solid $dark-grey;
  background: $light-black;

  a {
    color: white;
    transition: .2s ease-in-out;
    &:hover,
    &:focus,
    &:active {
      filter: brightness(50%);
    }
  }

  .header__wrap {
    padding: 7px 20px;
  }

  .header__pseudo {
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
    }

    ul li {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 14px;
      @include body-light;
    }

    ul li button,
    ul li a {
      cursor: pointer;
      color: white;
    }
  }

}