.SubmitMessage {
  border-top: 1px solid $dark-grey;
  background: $light-black;

  .sm__wrap {
    padding: 7px 20px;
    padding-bottom: 14px;
  }

  form label,
  form input {
    width: 100%;
  }

  form input {
    padding: 7px;
    border: 1px solid $dark-grey;
    background: $light-black;
    color: white;
    outline: none;
  }

  form button {
    background: $light-ruby;
    padding: 7px 30px;
    @include body-regular;
    text-transform: uppercase;
    transition: .2s ease-in-out;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      background: $dark-ruby;
    }
  }

  form label p {
    text-align: left;
    font-weight: 700;
    margin-bottom: 7px;
  }

  .fieldset {
    display: flex;
  }
}

.ChatList {
  min-height: 700px;

  li{
    margin-bottom: 20px;
    position: relative;

    svg, img{
        width: 35px;
        height: 35px;
        position: absolute;
        left: -7%;
        border-radius: 50%;
    }
  }

  li:first-of-type{
    margin-bottom: 0;
  }

  li:last-of-type{
      margin-top: 25px;
  }

  .messageBody{
    background: #F2F2F2;
    color: #121212;
    border-radius: 10px;
    padding: 1em;
    @include body-light;

    span.username{
        font-weight: bold;
        margin-bottom: 7px;
        @include body-bold;
    }

  }

  .messageMeta{
      font-size: 12px;
      padding: 5px 5px;

      button{
          background: unset;
          border: unset;
          font-size: 12px;
          cursor: pointer;
      }

      div{
          display: inline-block;
      }
  }

  ul li:nth-child(odd){
    position: relative;

    .messageBody{
        text-align: left;
    }

    .messageMeta{
        text-align: left;
    }
  }

  ul li:nth-child(even){
      position: relative;

      .messageBody{
          text-align: right;
      }

      .messageMeta{
          text-align: right;
      }


      svg, img{
          width: 35px;
          height: 35px;
          position: absolute;
          right: -7%;
          left: unset;
          border-radius: 50%;
      }
  }
}