.SubmitMessage {
  border-top: 1px solid $dark-grey;
  background: $light-black;

  .sm__wrap {
    padding: 7px 20px;
    padding-bottom: 14px;
  }

  form label,
  form input {
    width: 100%;
  }

  form input {
    padding: 7px;
    border: 1px solid $dark-grey;
    background: $light-black;
    color: white;
    outline: none;
  }

  form button {
    background: $light-ruby;
    padding: 7px 30px;
    @include body-regular;
    text-transform: uppercase;
    transition: .2s ease-in-out;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      background: $dark-ruby;
    }
  }

  form label p {
    text-align: left;
    font-weight: 700;
    margin-bottom: 7px;
  }

  .fieldset {
    display: flex;
  }
}

.ChatList {
  height: 500px;
  overflow-y: auto;
  padding: 7px 20px;

  /* width */
  &::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $grey;
    border: none;
    outline: none;
    border-radius: 10px;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    border: none;
    // background: rgba($color: $grey, $alpha: 0.75);
    background: $light-ruby;
    opacity: 0.25;
    border-radius: 10px;
  }

  li {
    margin-bottom: 20px;
    min-height: 130px;
  }



  .chat__container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }


  .chat__col.right {
    text-align: left;
    position: relative;

    &::after {
      content: "";
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-right: 7px solid $light-black;
      position: absolute;
      top: 7px;
      left: -7px;

    }

    .messageBody {
      @include body-light;
      background: $light-black;
      padding: 20px;
      border-radius: 2px;
      line-height: 1.4em;
      gap: 0;
    }

    .messageBody .username {
      @include body-regular;
      display: block;
      margin-bottom: 7px;
    }

    .messageMeta {
      @include body-light;
      font-size: .8em;
      margin-top: 10px;
    }
  }

  .chat__col.left {
    max-width: 80px;

    .img-container {
      width: 30px;
      height: 30px;
      object-fit: cover;
      object-position: center center;
      border-radius: 50%;
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }

    .rating {
      @include body-light;
    }

    .rating__container {
      display: flex;
      flex-direction: column;
      margin-top: 7px;
    }

    .rating__container span {
      padding: 3px 0;
    }

    .rating__container svg {
      width: 15px;
      fill: $grey;
    }

    .rating__container button {
      cursor: pointer;
    }
  }

  & .Chat > li:nth-child(odd) > .chat__container{
    display: flex;
    flex-direction: row-reverse;

    .messageMeta {
      text-align: right;
    }

    .chat__col.right {
      text-align: left;
      position: relative;
  
      &::after {
        content: "";
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 7px solid $light-black;
        border-right: unset;
        position: absolute;
        top: 7px;
        right: -7px;
        left: unset;
      }
    }
  }
}